<div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @keyframes scroll {
        from { transform: translate(100%,0%) }
        33% { transform: translate(-250%,0%) }
        to { transform: translate(-250%,0%) }
    }
</style>
<div style="height: 200px;">
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; background-color: rgba(153, 153, 153, 0.2); color: rgba(0, 0, 0, 0.333); transform-origin: center center 0px; transform: matrix3d(2.04124, 0, -0.0144338, 0, -0.618558, -1.07137, -0.00874773, 0, -40.8248, 70.7107, -0.57735, 0, 102.062, 148.215, 2.88675, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 12s infinite normal none running scroll; transform: translate(100%);">
            you don't see with your eye
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; background-color: rgba(153, 153, 153, 0.2); color: rgba(0, 0, 0, 0.333); transform-origin: center center 0px; transform: matrix3d(-1.02062, -1.76777, -0.0144338, 0, -1.23712, -6.56027e-17, 0.00874773, 0, -40.8248, 70.7107, -0.57735, 0, 122.474, 65.719, 1.73205, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 11s infinite normal none running scroll; transform: translate(100%);">
            you perceive with your mind
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; background-color: rgba(255, 255, 102, 0.6); color: rgb(0, 0, 0); transform-origin: center center 0px; transform: matrix3d(-1.02062, 1.76777, -0.0144338, 0, -1.23712, 6.56027e-17, 0.00874773, 0, 40.8248, 70.7107, 0.57735, 0, 40.8248, 65.719, 0.57735, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 10s infinite normal none running scroll; transform: translate(100%);">
            you don't see with your eye
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 83.3333% 0%); background-color: rgba(255, 255, 102, 0.6); color: rgb(0, 0, 0); transform-origin: center center 0px; transform: matrix3d(2.04124, -1.08245e-16, -0.0144338, 0, -0.618558, 1.07137, -0.00874773, 0, 40.8248, 70.7107, 0.57735, 0, 61.2372, 148.215, -0.57735, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 9s infinite normal none running scroll; transform: translate(100%);">
            you perceive with your mind
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; background-color: rgba(153, 153, 153, 0.2); color: rgba(0, 0, 0, 0.333); transform-origin: center center 0px; transform: matrix3d(-1.02062, -1.76777, -0.0144338, 0, -0.618558, 1.07137, -0.00874773, 0, 81.6497, 2.65123e-31, -0.57735, 0, 102.062, 77.504, -1.73205, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 8s infinite normal none running scroll; transform: translate(100%);">
            you don't see with your eye
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; background-color: rgba(153, 153, 153, 0.2); color: rgba(0, 0, 0, 0.333); transform-origin: center center 0px; transform: matrix3d(-1.02062, 1.76777, -0.0144338, 0, 0.618558, 1.07137, 0.00874773, 0, 81.6497, 2.65123e-31, -0.57735, 0, 20.4124, 101.074, -2.88675, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 7s infinite normal none running scroll; transform: translate(100%);">
            you perceive with your mind
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; background-color: rgba(255, 51, 204, 0.6); color: rgb(0, 0, 0); transform-origin: center center 0px; transform: matrix3d(2.04124, 0, -0.0144338, 0, 0.618558, 1.07137, 0.00874773, 0, 40.8248, -70.7107, 0.57735, 0, 61.2372, 171.785, -4.04145, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 6s infinite normal none running scroll; transform: translate(100%);">
            you don't see with your eye
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 83.3333% 0%); background-color: rgba(255, 51, 204, 0.6); color: rgb(0, 0, 0); transform-origin: center center 0px; transform: matrix3d(-1.02062, -1.76777, -0.0144338, 0, 1.23712, 8.03402e-33, -0.00874773, 0, 40.8248, -70.7107, 0.57735, 0, 122.474, 112.86, -5.19615, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 5s infinite normal none running scroll; transform: translate(100%);">
            you perceive with your mind
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; background-color: rgba(153, 153, 153, 0.2); color: rgba(0, 0, 0, 0.333); transform-origin: center center 0px; transform: matrix3d(-1.02062, 1.76777, -0.0144338, 0, 1.23712, 8.03402e-33, -0.00874773, 0, -40.8248, -70.7107, -0.57735, 0, 40.8248, 112.86, -6.35085, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 4s infinite normal none running scroll; transform: translate(100%);">
            you don't see with your eye
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; background-color: rgba(153, 153, 153, 0.2); color: rgba(0, 0, 0, 0.333); transform-origin: center center 0px; transform: matrix3d(2.04124, 1.08245e-16, -0.0144338, 0, 0.618558, -1.07137, 0.00874773, 0, -40.8248, -70.7107, -0.57735, 0, 102.062, 171.785, -7.50555, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 3s infinite normal none running scroll; transform: translate(100%);">
            you perceive with your mind
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; background-color: rgba(51, 153, 51, 0.6); color: rgb(0, 0, 0); transform-origin: center center 0px; transform: matrix3d(-1.02062, -1.76777, -0.0144338, 0, 0.618558, -1.07137, 0.00874773, 0, -81.6497, -4.32978e-15, 0.57735, 0, 142.887, 101.074, -8.66025, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 2s infinite normal none running scroll; transform: translate(100%);">
            you don't see with your eye
        </div>
    </div>
    <div style="position: absolute; height: 22px; width: 80px; overflow: hidden; clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 83.3333% 0%); background-color: rgba(51, 153, 51, 0.6); color: rgb(0, 0, 0); transform-origin: center center 0px; transform: matrix3d(-1.02062, 1.76777, -0.0144338, 0, -0.618558, -1.07137, -0.00874773, 0, -81.6497, 4.32978e-15, 0.57735, 0, 61.2372, 77.504, -9.81496, 1);">
        <div style="font-family: Bebas Neue; white-space: nowrap; animation: 12s linear 1s infinite normal none running scroll; transform: translate(100%);">
            you perceive with your mind
        </div>
    </div>
</div>
</div>
